.jumbotron {
  background: url("~top.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  border-radius: 0;
  position: relative;
  .shadow{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
  }
}
.top-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 2px;
  white-space: nowrap;
}

.top-authentication {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  &__sign-up-btn {
    background: #FD3378;
    border-radius: 30px;
    padding: 4px;
    white-space: nowrap;
  }
  &__sign-in-btn {
    border-radius: 30px;
    padding: 4px;
    white-space: nowrap;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
  }
}